.App {
  text-align: center;
}

.fa-paint-brush {
  font-size: 30px;
  background: gold; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    cyan,
    blue,
    violet,
    orange,
    yellow,
    green
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    cyan,
    blue,
    violet,
    orange,
    yellow,
    green
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    cyan,
    blue,
    violet,
    orange,
    yellow,
    green
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    cyan,
    blue,
    violet,
    orange,
    yellow,
    green
  ); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 2px #333);
}

.Toastify__progress-bar {
  background: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55,
    violet,
    orange,
    yellow
  );
}
